@import '../../../../assets/scss/main.scss';

.links {
  color: $grey-color;
  border-top: 1px solid $border-color-dark;
  padding-top: 20px;

  ul.icons-list {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 10px;

    li.icon {
      display: inline-block;
      padding-right: 18px;

      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  .download {
    color: #406063;
    background: #DFBE99;
    width: 150px;
    text-align: center;
    border-radius: 15px;
    &:hover {
      color: #b6eff5;
      background: #eabc88;
    }
  }

  a {
    text-decoration: none;
    transition: all .6s ease;
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
  }

  .small {
    font-size: 1.3rem;
    transition: all .6s ease;
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    cursor: normal;
    color: $grey-color;
  }
}
